body {
    color: green;
    background: red;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: purple;
    font-size: larger;
}

h2 {
    color: yellow;
}

.myClass {
    font-size: normal;
}
.artistSection {
    color: red;
    text-align: center;
}

h3 {
    color: gainsboro;
    border: 1px solid green;
}

